* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  background-color: #f5efdb;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 16px auto;
}
@media only screen and (min-width: 600px) {
  body .navigation {
    justify-content: left;
    margin: 26px;
  }
}
body #nav-name {
  color: black;
  color: #282b28;
}
body #nav-project {
  color: pink;
  color: #f07f8d;
  margin-left: 14px;
  cursor: pointer;
}
body #nav-link a {
  text-decoration: none;
  color: #f07f8d;
}
body .nav-arrow {
  fill: none;
  stroke: #f07f8d;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
body .navigation .nav-link-wrap {
  display: none;
}
body .navigation:hover #nav-project {
  display: none;
}
body .navigation:hover .nav-link-wrap {
  display: inline;
}
body .nav-link-wrap {
  padding-left: 14px;
  cursor: pointer;
}
body .contact-card {
  border: 2px solid #282b28;
  background-color: beige;
  background-color: #f5efdb;
  box-shadow: 13px 13px 0px #282b28;
  width: 80vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 20px auto 40px auto;
}
@media only screen and (min-width: 600px) {
  body .contact-card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 100%;
  }
}
body #card-sticker {
  width: 100%;
  background-color: #1c6c45;
  margin: 0 auto;
}
@media only screen and (min-width: 700px) {
  body #card-sticker {
    max-width: 50%;
    margin: 0;
  }
}
body .form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
}
body #form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  color: #282b28;
  font-size: 42px;
  padding-top: 28px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
}
body #form-title span {
  color: pink;
  color: #f07f8d;
}
body #form-sub {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
  color: #282b28;
  font-size: 14px;
  padding: 2px 0 28px 0;
  margin: auto;
  text-align: center;
}
body .form-input, body #form-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  color: #282b28;
  text-decoration: none;
  padding: 7px;
  width: 70%;
  margin: 10px auto;
  background-color: transparent;
  border: 2px solid #282b28;
}
body #form-message {
  max-height: 20vh;
  margin-bottom: 20px;
}
body #send-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: 2px solid #282b28;
  font-size: 16px;
  color: beige;
  color: #f5efdb;
  background-color: pink;
  background-color: #f07f8d;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px auto;
  transition: all 0.2s ease;
}
body #send-btn:hover {
  background-color: green;
  background-color: #1c6c45;
  transition: all 0.2s ease;
}
body .footer {
  margin: 10px auto;
}
body .footer-arrow {
  fill: none;
  stroke: #1c6c45;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
body #footer-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: green;
  color: #1c6c45;
}
body .footer-link-wrap {
  cursor: pointer;
  display: inline;
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
