* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  background-color: #f5efdb;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body .navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 16px 0;
}
@media only screen and (min-width: 768px) {
  body .navigation {
    justify-content: left;
    margin-left: 20px;
  }
}
body #nav-name {
  color: black;
  color: #282b28;
}
body #nav-project {
  color: pink;
  color: #f07f8d;
  margin-left: 14px;
  cursor: pointer;
}
body #nav-link a {
  text-decoration: none;
  color: #f07f8d;
}
body .nav-arrow {
  fill: none;
  stroke: #f07f8d;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
body .navigation .nav-link-wrap {
  display: none;
}
body .navigation:hover #nav-project {
  display: none;
}
body .navigation:hover .nav-link-wrap {
  display: inline;
}
body .nav-link-wrap {
  padding-left: 14px;
  cursor: pointer;
}
body .contact-card {
  border: 2px solid #282b28;
  background-color: beige;
  background-color: #f5efdb;
  box-shadow: 13px 13px 0px #282b28;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  z-index: 2;
}
@media only screen and (min-width: 800px) {
  body .contact-card {
    width: 50%;
    flex-direction: row;
  }
}
body #green-block {
  background-color: green;
  background-color: #1c6c45;
  width: 100%;
  z-index: 3;
}
body #card-sticker {
  width: 60%;
  z-index: 4;
  animation: rotate 40s infinite linear;
}
@media only screen and (min-width: 800px) {
  body #card-sticker {
    width: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
body .form {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: 16px;
}
body #form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  color: #282b28;
  font-size: 42px;
  padding-top: 28px;
  margin: 0;
}
body #form-title span {
  color: pink;
  color: #f07f8d;
}
body #form-sub {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
  color: #282b28;
  font-size: 12px;
  padding: 2px 0 28px 0;
  margin: 0;
}
body .form-input, body #form-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: black;
  color: #282b28;
  text-decoration: none;
  padding: 7px;
  max-width: 230px;
  margin: 10px 0;
  background-color: transparent;
  border: 2px solid #282b28;
}
body #form-message {
  max-height: 100px;
  margin-bottom: 20px;
}
body #send-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: 2px solid #282b28;
  font-size: 16px;
  color: beige;
  color: #f5efdb;
  background-color: pink;
  background-color: #f07f8d;
  padding: 5px;
  border-radius: 20px;
  max-width: 85px;
  cursor: pointer;
  transition: all 0.2s ease;
}
body #send-btn:hover {
  background-color: green;
  background-color: #1c6c45;
  transition: all 0.2s ease;
}
body .footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-30px, -50%);
}
body .footer .footer-arrow {
  display: none;
}
body .footer:hover .footer-arrow {
  display: inline;
}
body .footer-arrow {
  fill: none;
  stroke: #1c6c45;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
body #footer-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: green;
  color: #1c6c45;
}
body .footer-link-wrap {
  cursor: pointer;
  display: inline;
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
